---
---

<div>
    <div class="line"></div>
    <div class="menu">
        <div>
            <p>Oficina Virtual</p>
            <p>Dip. Daniel Castillo Garcia</p>
        </div>
        <div class="links">
                <a href="https://www.google.com">Inicio</a>
                <a href="#">Acerca de</a>
                <a href="#">Buzon Ciudadano y Actividades</a>
                <a href="#">Galeria</a>
        </div>
    </div>
</div>

